.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    position: relative;
    width: 358px;
    height: 196px;

    background: #CCCCCC;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;

    position: static;
    width: 358px;
    height: 52px;
    left: 0px;
    top: 72px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

a {
    position: static;
    height: 16px;
    left: 20px;
    right: 20px;
    top: calc(50% - 16px / 2);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

li:hover {
    background-color: #9C9C9C;
}

li:active {
    background-color: #333;
    border-color: #333;
    color: #eee;
}

